/* Import css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Poppins;
  scroll-behavior: smooth;
}

:root {
  --main-color: #4fb5db;

  --main-text-color: #324c5b;

  --main-bg-color: #eef9ff;
  --second-bg-color: #cee8f6;
  --bg-slate-color: #f6f6f6;

  --gradient-color: linear-gradient(
    rgba(255, 255, 255, 0) 10%,
    var(--second-bg-color) 100%
  );
  --gradient-135deg-color: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0) 50%,
    var(--main-color)
  );
  --gradient-180deg-color: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 20%,
    var(--second-bg-color)
  );

  --gradient-overlay-white: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.8)
  );
}

.container {
  width: 1400px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

nav {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
  background: var(--gradient-overlay-white);
  z-index: 100;
}

.nav_logo {
  color: var(--main-text-color);
  font-size: 32px;
  font-weight: 700;
}

.nav_links {
  list-style-type: none;
  display: flex;
  gap: 2em;
  margin-left: 130px;
  font-weight: 500;
}

.nav_links li a {
  text-decoration: none;
  color: var(--main-color);
}

.nav_icons {
  list-style-type: none;
  display: flex;
  gap: 2em;
}

.nav_icons li {
  display: flex;
}

.nav_icons li:first-child, .nav_icons li:nth-child(2) {
  padding: 10px;
  border-radius: 50%;
  border: 1px solid transparent;
  background: var(--bg-slate-color);
}

.nav_icons li i {
  font-size: 20px;
}

.nav_icons li i#phone_icon {
  color: var(--main-color);
}

.nav_icons li i#notification_icon {
  color: orangered;
  position: relative;
}

.nav_icons li i#notification_icon div {
  width: 8px; 
  height: 8px;
  background-color: green;
  border-radius: 100%;
  position: absolute;
  top: 0px;
  right: 2px;
}

.nav_profile {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
}

.nav_profile img {
  border-radius: 100%;
}

.hero {
  display: flex;
  align-content: start;
  gap: 10px;
  padding: 15px;
  margin-top: 40px;
}

.hero-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
}

.hero-1 .hero-image {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  padding: 10px;
  border: 3px solid transparent;
  border-radius: 50%;
  background-image: linear-gradient(white, white), var(--gradient-135deg-color);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.hero-1 .hero-image div:nth-child(1) {
  background: no-repeat url(/src/images/doctor-image.png);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-position: 0px;
  background-size: cover;
}

.hero-1 .doctor-name {
  margin: 10px;
    font-weight: 700;
    font-size: 24px;
}

.hero-1 .doctor-name:first-letter {
  color: var(--main-color);
}

.hero .hero-image p::first-letter {
  color: var(--main-color);
}

.hero-1 .divider {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-1 .divider .dot1 {
  width: 6px;
  height: 6px;
  padding: 6px;
  background-color: var(--main-color);
  border-radius: 50%;
}

.hero-1 .divider .line {
  content: "";
  width: 1px;
  height: 60px;
  padding: 1px;
  background-color: var(--second-bg-color);
  border: 4px;
}

.hero-1 .divider .dot2 {
  width: 6px;
  height: 6px;
  padding: 6px;
  background-color: var(--main-color);
  border-radius: 50%;
}

.hero-1 .lab {
  background-image: var(--gradient-color);
  border-radius: 20px;
  padding: 10px;
  border: 2px solid var(--bg-slate-color);
}

.hero-1 .lab p {
  font-size: 18px;
  font-weight: 500;
}

.hero-1 .lab .lab-list {
  display: flex;
  list-style-type: none;
  gap: 1em;
  padding: 10px;
  text-align: center;
}

.hero-1 .lab .lab-list li {
  width: 120px;
  padding: 5px;
  font-weight: 400;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid white;
  box-shadow: 1px 1px white;
}

.hero-1 .lab .lab-list li:nth-child(2) {
    background: var(--gradient-color);
}


.hero-1 .reabilitation {
    position: relative;
    width: 100%;
    margin-top: 10px;
    padding: 30px 10px 5px 10px;
    background-image: var(--gradient-color);
    border-radius: 20px;
    border: 2px solid var(--bg-slate-color);
}
.hero-1 .reabilitation-arrow{
    padding: 1px 6px;
    position: absolute;
    background: var(--second-bg-color);
    top: 0px;
    right: 0px;
    color: var(--main-color);
    border-radius: 0px 10px 0px 5px;
}

.hero-1 .reabilitation .reabilitation-title{
    font-size: 18px;
    font-weight: 500;
}

.hero-1 .reabilitation .reabilitation-content {
    font-size: 14px;
    padding: 2px 6px;
    background: var(--gradient-color);
    border-radius: 4px;
}

.hero-1 .reabilitation div  {
    display: flex;
    justify-content: space-between;
}








.hero-2 {
    display: flex;
    flex-direction: column;
    gap: 70px
}

.hero-2 .hero-text {
  width: 630px;
  font-size: 100px;
}

.hero-2 .hero-text .text1 span {
  color: var(--main-color);
}

.hero-2 .hero-text .text2 span {
  color: var(--main-color);
}

.hero .hero-text .text2 {
  margin-top: -40px;
}

.hero-2 .border {
  border-right: 4px solid var(--main-color);
  animation-duration: 950ms;
  animation-iteration-count: infinite;
  animation-name: border;
}

@keyframes border {
  from {
    opacity: 1;
  } to {
    opacity: 0;
  }
}


.hero-2 .hero-text .arrows {
  display: inline-flex;
  width: 150px;
  height: 60px;
  background-color: var(--second-bg-color);
  border-radius: 40px;
  vertical-align: middle;
  position: relative;
}

.hero-2 .hero-text .arrows svg:first-child {
  position: absolute;
  bottom: 0px;
  left: 14px;
  background-color: white;
  border-radius: 50%;
}

.hero-2 .hero-text .arrows svg:nth-child(2) {
  position: absolute;
  top: 0px;
  left: 40px;
  background-color: white;
  border-radius: 50%;
}

.hero-2 .hero-text .arrows svg:nth-child(3) {
  position: absolute;
  bottom: -6px;
  right: 4px;
  background-color: white;
  border-radius: 50%;
}

.hero-2 .plan-schedule {
    background: var(--gradient-180deg-color);
    position: relative;
    height: 410px;
    border-radius: 20px;
    padding: 20px;
    border: 2px solid var(--bg-slate-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-2 .plan-schedule .plan-schedule-title {
    font-size: 18px;
    font-weight: 500;
}
.hero-2 .middle-card-top {
    display: flex;
    position: absolute;
    gap: 20px;
    top: -70px;
    right: -20px;
}

.middle-top-card-content {
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px 0px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
  
    border: 1px solid var(--second-bg-color);
  }
  
  .middle-top-card-text {
    display: flex;
    align-items: center;
    width: 160px;
    height: fit-content;
    gap: 0px 10px;
  }
  
  .middle-top-card-text div h4{
    font-weight: 500;
  }
  
  .middle-top-card-text p {
    font-size: 11.5px;
  }
  
  .middle-top-card-text svg {
    width: 40px;
    height: 40px;
    padding: 7.5px;
    border-radius: 10px;
    background-color: var(--main-bg-color);
  }
  
  .middle-top-card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 45px;
    padding: 0px 10px;
    border-radius: 50px;
    background-color: var(--bg-slate-color);
  }
  
  .middle-top-card-bottom p {
    font-size: 11px;
  }

.middle-card-bottom {
    position: relative;
    margin-top: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.middle-main-card-content-card{
  position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px 10px;
    width: fit-content;
    height: 45px;
    padding: 0px 10px 0px 0px;
  
    background-color: var(--bg-slate-color);
    border-radius: 50px;
  }
  .middle-main-card-content-card {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 45px;
  }
  .middle-main-card-content-card .icon{
    display: flex;
    padding: 3px;
    border: 1px solid var(--main-color);
    border-radius: 50%;
    margin-left: 10px;
  }

  .middle-main-card-content-card .icon svg{
    padding: 2px;
  }
  .middle-main-card-content-card div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 100%;
    padding: 12px;
    background-color: white;
    border: 1px solid var(--main-text-color);
    border-radius: 50%;
  }
  
  .middle-main-card-content-card h4{
    font-weight: 400;
  }
  
  .middle-main-card-content-card p{
    font-size: 10px;
    color: gray;
  }
  
  .middle-main-card-content-card span{
    width: 2px;
    height: 80%;
  }
  
  .middle-main-card-content-card::after{
    content: "";
    position: absolute;
    inset: 45px 21.5px;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px 10px;
    width: 1px;
    height: 566%;
  
    background-color: var(--main-text-color);
    border-radius: 50px;
  }

  .middle-main-card-content-card-bottom{
    position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0px 10px;
      width: fit-content;
      height: 45px;
      padding: 0px 10px 0px 0px;
    
      background-color: var(--bg-slate-color);
      border-radius: 50px;
    }
    .middle-main-card-content-card-bottom {
      display: flex;
      align-items: center;
      gap: 10px;
      height: 45px;
    }
    .middle-main-card-content-card-bottom .icon{
      display: flex;
      padding: 3px;
      border: 1px solid var(--main-color);
      border-radius: 50%;
      margin-left: 10px;
    }
  
    .middle-main-card-content-card-bottom .icon svg{
      padding: 2px;
    }
    .middle-main-card-content-card-bottom div:nth-child(1){
      display: flex;
      justify-content: center;
      align-items: center;
      width: 45px;
      height: 100%;
      padding: 12px;
      background-color: white;
      border: 1px solid var(--main-text-color);
      border-radius: 50%;
    }
    
    .middle-main-card-content-card-bottom h4{
      font-weight: 400;
    }
    
    .middle-main-card-content-card-bottom p{
      font-size: 10px;
      color: gray;
    }
    
    .middle-main-card-content-card-bottom span{
      width: 2px;
      height: 80%;
    }
  
    .middle-main-card-content-card-bottom::after{
      content: "";
      position: absolute;
      inset: 45px 21.5px;
    
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0px 10px;
      width: 1px;
      height: 388%;
    
      background-color: var(--main-text-color);
      border-radius: 50px;
    }

    #alert-card::after{
      content: "";
      position: absolute;
      inset: 45px 85px;
    
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0px 10px;
      width: 1px;
      height: 193%;
    
      background-color: var(--main-text-color);
      border-radius: 50px;
    }

  .middle-card-alert {
    background-color: var(--bg-slate-color);
    padding: 20px;
    border-radius: 20px;
  }
  .middle-card-alert .title {
    padding-bottom: 20px;
  }

  .middle-card-alert .title p:first-child {
    font-weight: 600;
    font-size: 18px;
  }

  .middle-card-alert .title p:nth-child(2) {
    font-size: 14px;
  }

  .middle-card-bottom #last-bottom-card {
    background: no-repeat url("/src/images/doctor-image.png");
    background-size: cover;
    background-position: 1px;
  }
  

.plan-schedule .dot {
    display: flex;
    gap: 24px;
}

.plan-schedule .dot .first {
    width: 3px;
    height: 14px;
    padding: 1px;
    border-radius: 10px;
    background-color: var(--main-color);
}

.plan-schedule .dot .second {
    opacity: 0.5;
    width: 2px;
    height: 13px;
    padding: 1px;
    border-radius: 10px;
    background-color: var(--main-color);
}

.hero-3 {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
}

.hero-latest-visited {
  width: 220px;
  border-radius: 20px;
  background-image: var(--gradient-color);
  border-radius: 20px;
  border: 2px solid var(--bg-slate-color);
}

.hero-3 .hero-doctors {
  padding: 10px;
}

.hero-latest-visited p:first-child {
  color: var(--main-color);
  font-size: 18px;
}

.hero-latest-visited p:nth-child(2) {
  color: gray;
  font-size: small;
}

.hero-latest-visited-images {
  display: flex;
  padding: 10px 0px 30px 0px;
}

.hero-latest-visited .doctor-1 {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: no-repeat url("/src/images/right-side-images/1.png");
  background-size: cover;
  background-position: center;
}
.hero-latest-visited .doctor-2 {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: no-repeat url("/src/images/right-side-images/2.png");
  background-size: cover;
  background-position: center;
}
.hero-latest-visited .doctor-3 {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: no-repeat url("/src/images/right-side-images/3.png");
  background-size: cover;
  background-position: 1px 1px;
}

.hero-latest-visited-more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px 0px 0px;
  border-radius: 10px;
  font-weight: 500;
}

.hero-latest-visited-more p {
  padding: 6px 8px 0px 8px;
  color: var(--main-color);
  background-color: white;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
}

.hero-3 .hero-hand {
  width: 300px;
  height: 410px;
  background: var(--main-bg-color);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  padding: 10px;
  z-index: -1;
}
.hero-3 .hero-hand .slides {
  display: flex;
  gap: 10px;
}


.hero-3 .hero-hand .slides div:first-child {
  position: relative;
  width: 50px;
  height: 3px;
  padding: 1px;
  background: var(--main-color);
  z-index: 2;
}

.hero-3 .hero-hand .slides div:nth-child(2), .hero-hand .slides div:nth-child(3), .hero-hand .slides div:nth-child(4), .hero-hand .slides div:nth-child(5) {
  position: relative;
  width: 50px;
  height: 3px;
  padding: 1px;
  background: var(--second-bg-color);
  z-index: 2;
}

.hero-3 .hero-hand p{
  position: absolute;
  bottom: 50px;
  left: 15px;
  font-weight: 600;
  font-size: 18px;
}

.hero-3 .hero-hand::after {
  content: "";
  position: absolute;
  top: 70px;
  left: -80px;
  width: 100%;
  height: 100%;
  background: url("/src/images/right-side-images/handshake.png") no-repeat;
  background-size: contain;
  transform: scale(2) rotate(45deg);
  z-index: 1;
}

.hero-3 .play-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 40px;
  right: 15px;
  z-index: 2;
  background: white;
  border-radius: 50%;
}

.approach {
  display: flex;
  justify-content: space-between;
}

.approach .approach-title {
  height: 41px;
  border: 1px solid black;
  text-transform: uppercase;
  padding: 7px ;
  border-radius: 20px;
}

.approach .metapolis {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  font-weight: 500;
}

.approach .metapolis span:first-child {
  color: var(--main-color);
}

.approach .button {
  border: 1px solid var(--bg-slate-color);
  margin-top: auto;
  border-radius: 5px;
}

.approach .button p{
  color: var(--main-color);
  font-size: 24px;
  padding: 2px 3px;
}

.approach .button p:first-child:hover, .approach .button p:nth-child(2):hover {
  cursor: pointer;
  background: var(--second-bg-color);
}

.card-carousel {
  margin-top: 40px;
  width: 100%;
  display: flex;
  position: relative;
  overflow-y: scroll;
  gap: 20px;

}

.card-carousel::-webkit-scrollbar {
  display: none;
}

.card-carousel .card {
  width: 900px;
  min-width: 900px;
  height: 380px;
  background: #cee8f6;
  padding: 20px;
  border-radius: 10px;
  font-weight: 600;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-carousel .card::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: no-repeat url("/src/images/probiotic-image.png");
  background-size: contain;
  background-position: center;
}

.card-carousel .card .card-title p:first-child {
  font-size: 14px;
}

.card-carousel .card .card-title p:nth-child(2) {
  font-size: 32px;
}

.card-carousel .card .card-description{
  position: relative;
  z-index: 2;
  background: var(--bg-slate-color);
  padding: 10px;
  border-radius: 10px;
  width: 340px;
  font-weight: 500;
}

.card-carousel .card .more-info {
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  position: absolute;
  text-align: center;
  bottom: 175px;
  right: -100px;
  width: 350px;
  border: 1px solid var(--main-text-color);
  border-radius: 10px;
  transform: rotate(90deg);
}

.goal {
  display: flex;
  justify-content: space-between;
}

.goal .goal-title {
  height: 41px;
  border: 1px solid black;
  text-transform: uppercase;
  padding: 7px ;
  border-radius: 20px;
}

.goal .our-goal {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  font-weight: 500;
}


.goal .our-goal span:first-child {
  color: var(--main-color);
}

.circle {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  font-weight: 500;
}

.circle .circle-1 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.circle .circle-1 .upper-circle {
  display: flex;
  align-items: center;
  text-align: center;
  width: 280px;
  height: 280px;
  border: 2px solid var(--second-bg-color);
  border-radius: 50%;
  padding: 5px;
}
.circle .circle-1 .upper-circle p {
  padding: 10px;
}
.circle .circle-1 .middle-line {
  width: 1px;
  height: 80px;
  border: 1px solid var(--main-color);
}

.circle .circle-1 .under-circle {
  display: flex;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 200px;
  background-color: gold;
  border: 1px solid gold;
  border-radius: 50%;
  font-size: 14px;
  position: relative;
}

.circle .circle-1 .under-circle::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  padding: 30px;
  border: 2px dashed black;
  z-index: -1;
  border-radius: 50%;
  top: 0;
  right: -50px;
}

.circle .circle-1 .under-circle p {
  font-weight: 500;
  padding: 20px;
}

.circle .circle-2 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.circle .circle-2 .upper-circle {
  display: flex;
  align-items: center;
  text-align: center;
  width: 350px;
  height: 350px;
  border: 2px dashed black;
  border-radius: 50%;
}
.circle .circle-2 .upper-circle p {
  padding: 10px;
}
.circle .circle-2 .middle-line {
  width: 1px;
  height: 160px;
  border: 1px solid var(--main-color);
}

.circle .circle-2 .under-circle {
  display: flex;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 200px;
  background-color: lightblue;
  border: 1px solid lightblue;
  border-radius: 50%;
  font-size: 14px;
  position: relative;
}

.circle .circle-2 .under-circle::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  padding: 30px;
  border: 2px dashed black;
  z-index: -1;
  border-radius: 50%;
  bottom: 0;
  left: -50px;
}

.circle .circle-2 .under-circle p {
  padding: 20px;
}

.circle .circle-3 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.circle .circle-3 .upper-circle {
  display: flex;
  align-items: center;
  text-align: center;
  width: 320px;
  height: 320px;
  border: 2px solid lightgreen;
  border-radius: 50%;
  padding: 5px;
}
.circle .circle-3 .upper-circle p {
  padding: 10px;
}
.circle .circle-3 .middle-line {
  width: 1px;
  height: 150px;
  border: 1px solid var(--main-color);
}

.circle .circle-3 .under-circle {
  display: flex;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 200px;
  background-color: pink;
  border: 1px solid pink;
  border-radius: 50%;
  font-size: 14px;
  position: relative;
}

.circle .circle-3 .under-circle::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  padding: 30px;
  border: 2px dashed black;
  z-index: -1;
  border-radius: 50%;
  top: 0;
  left: -50px;
}

.circle .circle-3 .under-circle p {
  padding: 20px;
}