* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #4fb5db;
  
    --main-text-color: #324c5b;
  
    --main-bg-color: #eef9ff;
    --second-bg-color: #cee8f6;
    --bg-slate-color: #f6f6f6;
  
    --gradient-color: linear-gradient(
      rgba(255, 255, 255, 0) 10%,
      var(--second-bg-color) 100%
    );
    --gradient-135deg-color: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0) 50%,
      var(--main-color)
    );
    --gradient-180deg-color: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0) 20%,
      var(--second-bg-color)
    );
  
    --gradient-overlay-white: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.8)
    );
  }

  .hero .divider {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
  }

  .hero .divider .dot1 {
    width: 6px;
    height: 6px;
    padding: 6px;
    background-color: var(--main-color);
    border-radius: 50%;
  }

  .hero .divider .line {
    content: '';
    width: 1px;
    height: 200%;
    padding: 1px;
    background-color: var(--second-bg-color);
    border: 4px;
  }

  .hero .divider .dot2 {
    width: 6px;
    height: 6px;
    padding: 6px;
    background-color: var(--main-color);
    border-radius: 50%;
  }