/* Import css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Poppins;
  scroll-behavior: smooth;
}

:root {
  --main-color: #4fb5db;

  --main-text-color: #324c5b;

  --main-bg-color: #eef9ff;
  --second-bg-color: #cee8f6;
  --bg-slate-color: #f6f6f6;

  --gradient-color: linear-gradient(
    rgba(255, 255, 255, 0) 10%,
    var(--second-bg-color) 100%
  );
  --gradient-135deg-color: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0) 50%,
    var(--main-color)
  );
  --gradient-180deg-color: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 20%,
    var(--second-bg-color)
  );

  --gradient-overlay-white: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.8)
  );
}

.container {
  width: 1200px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_logo {
  color: var(--main-text-color);
  font-size: 32px;
  font-weight: 700;
}

.nav_links {
  list-style-type: none;
  display: flex;
  gap: 2em;
}

.nav_links li a {
  text-decoration: none;
  color: var(--main-color);
  font-weight: 500;
}

.nav_icons {
  list-style-type: none;
  display: flex;
  gap: 2em;
}

.nav_icons li i {
  font-size: 20px;
}

.nav_icons li i#phone_icon {
  color: var(--main-color);
}

.nav_icons li i#notification_icon {
  color: orangered;
  position: relative;
}

.nav_icons li i#notification_icon div {
  width: 8px;
  height: 8px;
  background-color: green;
  border-radius: 100%;
  position: absolute;
  top: 0px;
  right: 2px;
}

.nav_profile {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
}

.nav_profile img {
  border-radius: 100%;
}

.hero {
  display: flex;
  align-content: start;
  gap: 20px;
  padding: 15px;
}

.hero-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.hero-1 .hero-image {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  padding: 10px;
  border: 3px solid transparent;
  border-radius: 50%;
  background-image: linear-gradient(white, white), var(--gradient-135deg-color);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.hero-1 .hero-image img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.hero-1 .hero-image p {
  margin-top: 20px;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
}

.hero .hero-image p::first-letter {
  color: var(--main-color);
}

.hero-1 .divider {
  height: 100px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-1 .divider .dot1 {
  width: 6px;
  height: 6px;
  padding: 6px;
  background-color: var(--main-color);
  border-radius: 50%;
}

.hero-1 .divider .line {
  content: "";
  width: 1px;
  height: 60px;
  padding: 1px;
  background-color: var(--second-bg-color);
  border: 4px;
}

.hero-1 .divider .dot2 {
  width: 6px;
  height: 6px;
  padding: 6px;
  background-color: var(--main-color);
  border-radius: 50%;
}

.hero-1 .lab p {
  font-size: 18px;
  font-weight: 500;
}

.hero-1 .lab .lab-list {
  display: flex;
  list-style-type: none;
  gap: 1em;
  padding: 10px;
  text-align: center;
}

.hero-1 .lab .lab-list li {
  width: 120px;
  padding: 5px;
  font-weight: 400;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid white;
  box-shadow: 1px 1px white;
}
.hero-1 .lab .lab-list li:nth-child(2) {
    background: var(--gradient-color);
}

.hero-1 .reabilitation {
    position: relative;
    width: 100%;
    margin-top: 40px;
    padding-top: 30px;
}
.hero-1 .reabilitation-arrow{
    padding: 1px 6px;
    position: absolute;
    background: var(--second-bg-color);
    top: 0px;
    right: 0px;
    color: var(--main-color);
    border-radius: 0px 10px 0px 5px;
}

.hero-1 .reabilitation .reabilitation-title{
    font-size: 18px;
    font-weight: 500;
}

.hero-1 .reabilitation .reabilitation-content {
    font-size: 14px;
    padding: 2px 6px;
    background: var(--gradient-color);
    border-radius: 4px;
}

.hero-1 .reabilitation div  {
    display: flex;
    justify-content: space-between;
}








.hero-2 {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    gap: 70px
}

.hero-2 .hero-text {
  width: 630px;
  font-size: 100px;
}

.hero-2 .hero-text .text1 span {
  color: var(--main-color);
}

.hero-2 .hero-text .text2 span {
  color: var(--main-color);
}

.hero-2 .hero-text .text2 {
  border-right: 4px solid var(--main-color);
  animation-duration: 950ms;
  animation-iteration-count: infinite;
  animation-name: border;
  margin-top: -40px;
}

@keyframes border {
  from {
    border-right: 2px solid var(--main-color);
  }
  to {
    border-right-color: var(--main-bg-color);
  }
}


.hero-2 .hero-text .arrows {
  display: inline-flex;
  width: 150px;
  height: 60px;
  background-color: var(--second-bg-color);
  border-radius: 40px;
  vertical-align: middle;
  position: relative;
}

.hero-2 .hero-text .arrows svg:first-child {
  position: absolute;
  bottom: 0px;
  left: 14px;
  background-color: white;
  border-radius: 100%;
}

.hero-2 .hero-text .arrows svg:nth-child(2) {
  position: absolute;
  top: 0px;
  left: 40px;
  background-color: white;
  border-radius: 100%;
}

.hero-2 .hero-text .arrows svg:nth-child(3) {
  position: absolute;
  bottom: -6px;
  right: 4px;
  background-color: white;
  border-radius: 100%;
}

.hero-2 .plan-schedule {
    background: var(--gradient-180deg-color);
    padding: 15px;
    border-radius: 10px;
    position: relative;
}

.hero-2 .plan-schedule .plan-schedule-title {
    font-size: 18px;
    font-weight: 500;
}
.hero-2 .middle-card-top {
    display: flex;
    position: absolute;
    gap: 20px;
    top: -70px;
    right: -20px;
}

.middle-top-card-content {
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px 0px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
  
    border: 1px solid var(--second-bg-color);
  }
  
  .middle-top-card-text {
    display: flex;
    align-items: center;
    width: 160px;
    height: fit-content;
    gap: 0px 10px;
  }
  
  .middle-top-card-text div h4{
    font-weight: 500;
  }
  
  .middle-top-card-text p {
    font-size: 11.5px;
  }
  
  .middle-top-card-text svg {
    width: 40px;
    height: 40px;
    padding: 7.5px;
    border-radius: 10px;
    background-color: var(--main-bg-color);
  }
  
  .middle-top-card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 45px;
    padding: 0px 10px;
    border-radius: 50px;
    background-color: var(--bg-slate-color);
  }
  
  .middle-top-card-bottom p {
    font-size: 11px;
  }


.middle-card-bottom {
    position: relative;
    margin-top: 30px;
    height: 220px;
    background: var(--gradient-overlay-white);
    border-radius: 20px;
}

.middle-main-card-content-card:nth-child(2){
    position: absolute;
    /* use this property or top, right, bottom, left to position the card */
    /* inset: 0px 0px; */ 
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px 10px;
    width: fit-content;
    height: 45px;
    padding: 0px 10px 0px 0px;
  
    background-color: var(--bg-slate-color);
    border-radius: 50px;
  }
  .middle-main-card-content-card {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .middle-main-card-content-card .icon svg{
    border: 1px solid var(--main-color);
    border-radius: 50%;
  }
  .middle-main-card-content-card div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 100%;
    padding: 12px;
    background-color: white;
    border: 1px solid var(--main-text-color);
    border-radius: 50%;
  }
  
  .middle-main-card-content-card h4{
    font-weight: 400;
  }
  
  .middle-main-card-content-card p{
    font-size: 10px;
    color: gray;
  }
  
  .middle-main-card-content-card span{
    width: 2px;
    height: 80%;
  }
  
  .middle-main-card-content-card::after{
    content: "";
    position: absolute;
    inset: 50px 21.5px;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px 10px;
    width: 1px;
    height: 90%;
  
    background-color: var(--main-text-color);
    border-radius: 50px;
  }

.hero-latest-visited {
  width: 200px;
  border-radius: 20px;
}

.hero-latest-visited p:first-child {
  color: var(--main-color);
  font-size: 18px;
}

.hero-latest-visited p:nth-child(2) {
  color: gray;
  font-size: small;
}

.hero-latest-visited-images {
  display: flex;
  padding: 10px 0px 30px 0px;
}

.hero-latest-visited-images img {
  border-radius: 100%;
}

.hero-latest-visited-images img:nth-child(2) {
  position: relative;
  left: -3px;
}

.hero-latest-visited-images img:nth-child(3) {
  position: relative;
  left: -6px;
}

.hero-latest-visited-more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px 0px 0px;
  background: var(--gradient-color);
  border-radius: 10px;
  font-weight: 500;
}

.hero-latest-visited-more p {
  padding: 10px 10px 0px 10px;
  color: var(--main-color);
  background-color: white;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
}
