* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0;
  font-family: Poppins;
  scroll-behavior: smooth;
}

:root {
  --main-color: #4fb5db;

  --main-text-color: #324c5b;

  --main-bg-color: #eef9ff;
  --second-bg-color: #cee8f6;
  --bg-slate-color: #f6f6f6;

  --gradient-color: linear-gradient(
    rgba(255, 255, 255, 0) 10%,
    var(--second-bg-color) 100%
  );
  --gradient-135deg-color: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0) 50%,
    var(--main-color)
  );
  --gradient-180deg-color: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 20%,
    var(--second-bg-color)
  );

  --gradient-overlay-white: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.8)
  );
}




/*
  This code is use to disable the bottom 
  scroll bar in the Our Approach or the second sections
  
  Use it in the container
  &::-webkit-scrollbar {
    display: none;
  }

*/

.middle-main-card-content-card:nth-child(2){
  position: absolute;
  /* use this property or top, right, bottom, left to position the card */
  /* inset: 0px 0px; */ 

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 10px;
  width: fit-content;
  height: 45px;
  padding: 0px 10px 0px 10px;

  background-color: var(--bg-slate-color);
  border-radius: 50px;
}

.middle-main-card-content-card div:nth-child(1){
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 100%;
  padding: 12px;
  background-color: white;
  border: 1px solid var(--main-text-color);
  border-radius: 50%;
}

.middle-main-card-content-card h4{
  font-weight: 400;
}

.middle-main-card-content-card p{
  font-size: 10px;
  color: gray;
}

.middle-main-card-content-card span{
  width: 2px;
  height: 80%;
}

.middle-main-card-content-card::after{
  content: "";
  position: absolute;
  inset: 45px 21.5px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 10px;
  width: 1px;
  height: 500%;

  background-color: var(--main-text-color);
  border-radius: 50px;
}